.item{
    text-align: center;
    padding: 32px;
    background-color: #E8F8FF;

}

.item h3{
    font-size: 32px;
    border-bottom: 4px solid #82CFFA; 
    display: inline-block;
    padding-bottom: 8px;
}